.reel {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: auto;
}

.reel > * {
  flex: 0 0 auto;
}

.reel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 1rem;
}
