{%- from "system/component.njk" import component, componentStyles -%}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include "partials/meta-info.html" %}
        <style>
            {% include "css/critical.css" %}
            {% if pageCriticalStyles %}
                {% for css in pageCriticalStyles %}
                    {% include css %}
                {% endfor %}
            {% endif %}
            {% if componentStyles %}

            {% endif %}
        </style>
        {% if pageStylesheets %}
            {% for item in pageStylesheets %}
                <link
      rel="stylesheet"
      media="print"
      href="{{ item }}?{{ assetHash }}"
      onload="this.media='all'" />
            {% endfor %}
        {% endif %}
        {# Critical JS #}
        {% set js %}
        {% include
        "js/critical.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
        {% if head %}
            {{ head | safe }}
        {% endif %}
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="site-wrap">
            {% include "partials/site-head.html" %}
            <main tabindex="-1" id="main-content" {% if cssclass %} class="{{cssclass}}"{%endif%}>
                {% block content %}{% endblock %}
            </main>

            {% include "partials/site-foot.html" %}
        </div>
        <script
      type="module"
      async
      defer
      src="/js/main.js?{{ assetHash }}" /></script>
    {% block foot %}{% endblock %}
</body>
</html>
