{% extends "layouts/base.html" %} {% set pageCriticalStyles = ['css/page.css',
'css/curtain.css'] %} {% set pageHeaderTitle = title %} {# Grab other posts that
aren’t this one for the 'more from the newsletter' feed #} {% set
recommendedPosts = helpers.getSiblingContent(collections.newsletter, page) %} {#
Render post date and any tags that this post has been filed under #} {% set time
%}
<div class="[ curtain-header__time ] [ shadow ]">
  <span>To: The Curtain mailing list</span>
  <span>From: Gus Cuddy</span>
  <span>
    Sent:
    <time datetime="{{ page.date | w3DateFilter }}">
      {{ page.date | dateFilter }}
    </time>
  </span>
</div>
{% endset %} {% block content %}
<article>
  <div class="[ page-header curtain-header ] [ content post ]">
    <div class="[ flow ]">
      <h1 class="[ curtain-header__heading ]">{{ title }}</h1>
      {% if description %}
      <div class="[ curtain-header__summary ] [ measure-long ]">
        {{ description | safe }}
      </div>
      {% endif %} {{ time | safe}}
    </div>
  </div>

  <div
    class="[ page-content curtain ] [ content post ] [ flow-space-700 gap-top-900 ]"
  >
    <div class="flow">{{ content | safe }}</div>
  </div>
  {% if recommendedPosts %}
  <footer class="recommended-posts">
    {% set postListItems = recommendedPosts %} {% set postListHeadline = 'Other
    random posts you might enjoy' %} {% include "partials/post-list.html" %}
  </footer>
  {% endif %}
</article>

{% include "partials/cta.html" %} {% endblock %}
