{% extends "layouts/base.njk" %} {% set pageCriticalStyles = ['css/page.css',
'css/curtain.css'] %} {% set pageHeaderTitle = title %} {# Grab other posts that
aren’t this one for the 'more from the newsletter' feed #} {% set
recommendedPosts = helpers.getSiblingContent(collections.newsletter, page) %} {#
Render post date and any tags that this post has been filed under #} {% set time
%}
<div class="[ curtain-header__time ] [ shadow ]">
    <dl class="details-items">
        <dt>To:</dt>
        <dd><a href="/curtain">The Curtain mailing list</a></dd>
        <dt>From:</dt>
        <dd>Gus Cuddy</dd>
        <dt>Issue:</dt>
        <dd>{{ helpers.episodeNumber(page.fileSlug) }}</dd>
        <dt>Sent:</dt>
        <dd><time datetime="{{ page.date | w3DateFilter }}">
                {{ page.date | dateFilter }}
            </time></dd>
    </dl>
    {#
    <!-- <span>To: <a href="/curtain">The Curtain mailing list</a></span>
  <span>From: Gus Cuddy</span>
  <span>Issue: {{ page.fileSlug }}</span>
  <span>
    Sent:
    <time datetime="{{ page.date | w3DateFilter }}">
      {{ page.date | dateFilter }}
    </time>
  </span> -->#}
</div>
{% endset %} {% block content %}
<article>
    <div class="[ page-header curtain-header ] [ content post ]">

        <div class="[ flow ]">
            <h1 class="[ curtain-header__heading ] [ headline ] [ align-center ] ">{{ title }}</h1>
            {% if description %}
            <div class="[ curtain-header__summary ] [ measure-long ]">
                {{ description | safe }}
            </div>
            {% endif %}
            <!-- {% if image %}
        <img src="{{image}}" alt="">
        {% endif %} -->
            {{ time | safe}}
        </div>
    </div>

    <div class="[ page-content curtain ] [ content post ] [ flow-space-700 gap-top-900 ]">
        <div class="flow">{{ content | safe }}</div>
    </div>
    {% if recommendedPosts %}
    <footer class="recommended-posts">
        {% set postListItems = recommendedPosts %} {% set postListHeadline = 'Other
        random posts you might enjoy' %} {% include "partials/post-list.html" %}
    </footer>
    {% endif %}
</article>

{% include "partials/cta.html" %} {% endblock %}

<!-- {#{% block foot %}
<script>
    let h1 = document.querySelector('main article h1');
    let maxWeight = 900;
    let minWeight = 100;
    let bottom = h1.getBoundingClientRect().bottom;
    let factor = (maxWeight - minWeight) / bottom;
    window.addEventListener(
        'scroll',
        () => {
            document.body.style.setProperty(
                '--fw',
                (maxWeight - (window.scrollY * factor))
            )
        },
        false
    )
</script>
{% endblock %}#} -->
