{% extends "layouts/base.njk" %} {% set pageCriticalStyles = ['css/home.css']
%} {% block content %}
<div class="content">
    <article class="[ intro ] [ post ] [ gap-top-700 ]">

        <div class="[ intro__header ] [ post ]">
            <h1 class="text-700 md:text-800 lg:text-900">Gus is <a href="/feed">writing</a>, <a
                    href="/about#acting">performing</a>,
                <a href="https://portfolio.guscuddy.com/">designing</a>, researching, thinking, and building community.
            </h1>
            {% if intro.title %}
            <h1 class="[ intro__heading ] [ text-800 md:text-900 ]">
                {{ intro.title }}
            </h1>
            {% endif %}
            <img src="/images/me.jpg" alt="Gus Cuddy looking sort of angelic-like in Louisville sun">
        </div>

        <div class="[ intro__content ] [ flow post ] [ gap-top-800 md:gap-top-900 ]">
            <!-- <p class="intro__summary">{{ intro.summary }}</p> -->
            {{ content | safe}}
        </div>
    </article>

</div>
{% include "partials/cta.html" %} {% endblock %}