{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/note.css'] %}
{% block head %}
<link rel="preload" href="/fonts/iAWriterQuattroS-Regular.woff2" as="font" type="font/woff2" crossorigin>
{% endblock head %}
{% block content %}


<fieldset class="[ note-overlay ] [ flow ]" role="presentation">
    <legend><a href="/notes/">working note</a></legend>
{# <aside class="callout content">Heads up! These are my working notes. They are messy, always changing, unpolished. Proceed at your own risk.</aside> #}
<article>
    <div class="content">
        <h1>{{ title }}</h1>
    </div>
    <div class="[ note-content ] [ flow content ] [ flow-space-700 gap-top-700 ]">
        {{content | safe}}
    </div>
</article>
{% include "partials/backlinks.html" %}
</fieldset>
{% endblock content %}