{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/note.css'] %}
{% block content %}

<fieldset class="[ note-overlay ] [ content flow ]" role="presentation">
    <legend><a href="/notes/">🚧 working note 🚧</a></legend>
    {{ page.date }}
    {# <aside class="callout content">Heads up! These are my working notes. They are messy, always changing, unpolished.
        Proceed at your own risk.</aside> #}
    <article>
        <div class="content">
            <h1>{{ title }}</h1>
        </div>
        <div class="[ note-content ] [ flow content ] [ flow-space-700 gap-top-700 ]">
            {{content | safe}}
        </div>
    </article>
    {% include "partials/backlinks.html" %}
</fieldset>
{% endblock content %}
