.note-overlay {
  border: 5px solid var(--color-gold);
  background-image: var(--bg-img);

  legend {
    text-transform: uppercase;
    font-size: var(--s-400);
  }
}

.note-content {
  font-family: var(--font-ia);

  .heading-anchor {
    display: none;
  }

  blockquote {
    border-inline-start: 1rem solid var(--color-gold);
    padding-inline-start: get-size("600");
    padding-top: get-size("500");
    padding-bottom: get-size("500");
    font-style: italic;

    > * + * {
      margin-top: var(--s-500);
    }
  }

  > * {
    @include apply-utility("measure", "long");
  }
}
