@import '../utilities/radius';
@import '../utilities/shadow';

.page-content {
    @include apply-utility('leading', 'loose');

    > * {
        @include apply-utility('measure', 'long');
    }

    margin-bottom: get-size('900');
    padding-bottom: get-size('900');

    img:not([class*='tweet']) {
        @extend .shadow;
    }

    .youtube-embed {
        padding-top: var(--s-800);
    }

    .youtube-embed + * {
        --flow-space: var(--s-900);
    }

    picture,
    video:not(.tweet-video):not(.tweet-gif),
    .youtube-embed {
        @extend .radius;
        // width: calc(100vw - var(--s-800));
        max-width: 58rem;
        // margin-left: 50%;
        // transform: translateX(-50%);
        position: relative;
    }

    .twitter-embed {
        iframe {
            border-radius: 12px;
            @extend .shadow;
        }

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .eleventy-plugin-youtube-embed,
    figure,
    img:not([class*='tweet']) {
        max-width: min(58rem, 100%);
        max-height: 95vh;
        width: auto;
    }

    blockquote {
        border-inline-start: 1rem solid var(--primary);
        padding-inline-start: get-size('600');
        padding-top: get-size('500');
        padding-bottom: get-size('500');
        font-style: italic;
    }

    ol,
    ul {
        padding-inline-start: get-size('800');
    }

    li + li {
        margin-top: get-size('300');
    }

    // Add a greater flow space for heading elements so
    // they appear more like article sections
    h2,
    h3 {
        --flow-space: var(--s-900);
    }

    // Add tighter flow for elements that follow a heading
    h2 + *,
    h3 + * {
        --flow-space: var(--s-400);
    }

    figure,
    figure + * {
        --flow-space: var(--s-900);
    }
}
h2,
h3,
h4 {
    position: relative;
}
