.page-header {
    padding-top: get-size('600');

    > * {
        border-bottom: 0.2rem solid var(--color-dim);
        padding-bottom: var(--s-600);
    }

    &__summary {
        color: var(--color-mid);
        p {
            //   font-style: italic;
            // text-transform: uppercase;
            font-family: var(--font-sans);
        }
    }
}
