.post-list {

  &__grouping {
    position: sticky;
    top: 0;
  }
  &__link {
    font-size: get-size("700");
    color: inherit;
    display: block;

    @include apply-utility("font", "base");
    @include apply-utility("weight", "bold");
  }

  &__description {
    font-style: italic;
    @include apply-utility("leading", "tight");
  }
}
