.production-list {
    &__year {
        border-bottom: 2px solid var(--color-dim);
        padding-bottom: 0.25rem;
    }
    &__item {
        @include media-query('md') {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--s-500);
            align-items: center;
        }
        padding: var(--s-300);
        // border-radius: .5rem;
        // background-color: var(--bg-glare);
        // padding: var(--s-400);

        &-photo {
            grid-column: 1 / 6;

            a {
                display: block;
            }

            img {
                border-radius: 0.25rem;
                box-shadow: 0 20px 69px rgba(0, 0, 0, 0.06);
            }
        }

        &-description {
            grid-column: 13 / 6;
        }
        &-title {
            font-weight: bold;
            color: var(--text);
        }

        // &-link {
        // 	&:before {
        // 		content: '';
        // 		display: block;
        // 		width: 100%;
        // 		height: 100%;
        // 		position: absolute;
        // 		top: 0;
        // 		left: 0;
        // 		background: transparent;
        //
        // 	}
        // }
        //
        // &:hover {
        // 	transform: scale(1.01);
        // 	transition: .2s ease;
        // }

        &[data-state='active'] {
            background-color: var(--bg-glare);
            border-radius: 0.5rem;
            box-shadow: 0 0 0.25rem rgb(0, 0, 0, 0.08);
        }
    }
}
