.production-list {
    &__year {
        border-bottom: 2px solid var(--color-dim);
        padding-bottom: 0.25rem;
    }
    &__item {
        @include media-query('md') {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: var(--s-500);
            align-items: center;
        }
        padding: var(--s-300);
        position: relative;
        border-radius: 0.5rem;

        &-photo {
            grid-column: 1 / 6;
            a {
                display: block;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            img {
                border-radius: 0.25rem;
                box-shadow: 0 20px 69px rgba(0, 0, 0, 0.06);
            }
        }
        &-description {
            grid-column: 13 / 6;
        }
        &-title {
            font-weight: bold;
            color: var(--text);
        }

        &[data-state='active'] {
            background-color: var(--bg-shade);
            box-shadow: 0 0 0.25rem rgb(0, 0, 0, 0.08);
        }
        &:not([data-state='active']):hover {
            background-color: var(--bg-shade-alt);
        }
    }
}
