.sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gutter, var(--s-400));

    > * {
        flex-grow: 1;
        flex-basis: var(--sidebar-width, 16rem);
    }

    > :first-child {
        flex-basis: 0;
        flex-grow: 999;
        min-width: calc(60% - var(--sidebar-gutter, var(--s-400)));
    }
}
