.site-foot {
  padding: get-size('500') 0 get-size('700') 0;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;

    > *:not(:last-of-type) {
      padding-inline-end: get-size('400');
    }
  }
}