.tweet picture {
    margin: 0;
    transform: revert;
    width: auto;
}
.tweet {
    background: var(--bg-pure);
    display: block;
    padding: 12px 16px 4px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    font-family: var(--font-sans);
    color: var(--text);

    > * {
        --flow-space: var(--s-400);
    }
    a {
        text-decoration: none;
    }
    .hashtag {
        color: var(--primary);
    }

    &__header {
        @include apply-utility('leading', 'flat');
        font-size: 0.8em;
        picture {
            // float: left;
            border-radius: 50%;
            margin: 0 var(--s-200) 0 0;
            // margin-right: var(--s-200);
            width: 48px;
            height: 48px;
            transform: revert;
        }
        a {
            display: flex;
            align-items: center;
        }
        &-avatar {
            // float: left;
            border-radius: 50%;
            // margin-right: var(--s-200);
            // width: 2.4em;
        }
        &-name {
            font-weight: 700;
        }
        &-username {
            color: var(--color-mid);
        }
        span {
            display: block;
            text-decoration: none;
            // line-height: 1.1;
        }
    }
    &__body {
        @include apply-utility('leading', 'tight');
        overflow-wrap: break-word;
        word-wrap: break-word;
        .quoted-tweet {
            border: 1px solid var(--color-dim);
            border-radius: 0.5rem;
            padding: var(--s-200);
            font-size: 0.9em;
        }
        .quote-tweet-displayname {
            font-weight: 700;
            margin-right: 6px;
        }

        .tweet-photo-link {
            display: block;
        }
        video.tweet-video,
        video.tweet-gif {
            max-width: 100%;
            border-radius: 0.5rem;
            border: 1px solid var(--color-dim);
        }
        video.tweet-video,
        video.tweet-gif,
        video.tweet-photo {
            max-height: 95vh;
            width: auto;
        }
    }
    &__footer {
        color: var(--color-mid);
        font-size: 0.8em;
        .tweet-date {
            border-bottom: 1px solid var(--color-dim);
            max-width: 100% !important;
        }
        .retweets {
            margin-right: var(--s-200);
        }
        .likes-count,
        .retweets-count {
            color: var(--text);
            font-weight: 700;
            font-variant-numeric: lining-nums;
        }
    }
}

.tweet__media {
    display: flex;
    > * {
        flex: 1 1 30ch;
    }
}
.deleted-tweet {
    background: var(--bg-glare);
    padding: clamp(var(--s-400), var(--s-400) + 0.5vw, var(--s-600));
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    max-width: min(55rem, 100%);
    font-family: var(--font-sans);
    a {
        text-decoration-color: var(--color-primary);
    }
}
