@font-face {
    src: url('/fonts/GimletSansVariable-VF.woff2') format('woff2'),
        url('/fonts/GimletSansVariable-VF.woff') format('woff');
    font-family: 'Gimlet Sans';
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}
