@media (prefers-color-scheme: light) {
  body {
    background: get-color("light");
    color: get-color("dark");
  }
  a:not([class]) {
    color: get-color("dark");
  }
  :focus {
    outline: 2px dashed get-color("dark");
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid get-color("dark-glare");
    border-right: 1px solid get-color("dark-glare");
    //border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: get-color("dark");
    border-radius: 0.1rem;
  }

  // folks read the text easier
  ::selection {
    color: get-color("light");

    // We set this as an RGBA because that's how you get a solid color, by using 0.99
    // alpha value. Browsers are wild.
    background: get-color("dark");
  }
}
