// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

@import './curtain-fonts';

// Blocks
@import "./blocks/pill";
@import "./blocks/curtain-header";

body {
    // @include media-query("lg") {
    //     animation-name: backgroundColorPalette;
    //     animation-duration: 90s;
    //     animation-iteration-count: infinite;
    //     animation-direction: alternate;
    //     animation-timing-function: linear;    
    // }
}

.curtain {


    hr:after {
        color: var(--color-primary);
    }
    hr:nth-of-type(2n+0):after {
    color: var(--color-green);
    }

    hr:nth-of-type(3n+0):after {
    color: var(--color-gold);
    }

    hr:nth-of-type(4n+0):after {
    color: var(--color-blue);
    }
}

// .site-wrap {
//     box-shadow: 0 0 #{get-size('300')} var(--animation-color, #{darken(get-color('primary-shade'), 10%)}), 0 0 #{get-size('400')} var(--animation-color, #{darken(get-color('primary-shade'), 10%)});
// }
// i should animate the animation color with js probably.....


// h1, h2, h3, h4 {
//     font-family: "Space Mono", monospace;
// }

// .post-list__link {
//     font-family: "Space Mono", monospace;
// }