// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

@import "./blocks/recently-played";
@import "./blocks/film-diary";
@import "./blocks/arena";
@import "./blocks/book-log";

.logs {
  --auto-grid-min-size: 22rem;
  font-family: var(--font-sans);

  &__inner {
    border: 5px solid var(--color-gold);
    padding: 20px;
    background: var(--bg-img);
    
    > * + * {
      // --flow-space: var(--s-major);
      margin-top: var(--s-900);
    }
  }
}
