<div class="[ book-log ] [ flow ]">
    <h2>Bookshelf</h2>
    <tabs-group>
        <article>
        <h3 data-element="trigger">📖 Currently Reading</h3>
        <div data-element="panel" class="flow">
            <ul class="flow">
                {% for book in collections.bookLog %} {% set bookData = book.data.isbn|isbn %}
                {% if book.data.status == 'inProgress' %}
                <li>
                    <!-- <div class="book-log__cover">
                        <img src="{{ bookData.googleBooksInfo.imageLinks.smallThumbnail }}" alt="Book cover for {{ bookData.results.title[0] }}" loading="lazy">
                    </div> -->
                    <div class="book-log__info">
                        
                        <span><a href="https://bookshop.org/a/22180/{{book.data.isbn | replace('-','') }}">{{ bookData.results.title[0] }}</a> by {{ bookData.results.authors }}</span>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        </article>
    </tabs-group>
</div>