<form id="signupForm" class="[ email-capture ]" data-netlify="true" action="/thank-you">
    <label for="email">Email address</label>
    <div class="[ email-capture__fields ] [ sidebar ]">
        <input type="email" name="email" placeholder="me@website.com" id="email" autocapitalize="none" autocorrect="off"
            required pattern="[^@]+@[^\.]+\..+" />
        <button type="submit" class="button" {% if dataVariant %}data-variant="{{dataVariant}}" {% endif %}>
            <span>{% if buttonText %}{{ buttonText }}{% else %}Subscribe{% endif %}</span>
        </button>
    </div>
</form>
<div aria-atomic="true" role="alert" class="signup__alert"></div>
