<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}

{% set pageTitle = title + ' — ' + site.name %} {# We don't want any
duplication. This is likely for the home page. #}
{% if site.name === title %}
{% set pageTitle = title %} {% endif %} {% set siteTitle = site.name %} {% set
currentUrl = site.url + page.url %} {# If the page’s Front Matter has specific
metaTitle and/or metaDesc items, switch them into the mix. #} {% if metaTitle %}
{% set pageTitle = metaTitle %} {% endif %}

{%- set isPost = layout == 'post'
-%} {%- set isCurtain = layout == 'curtain' -%} {%- if isPost or isCurtain -%}
{# Auto-Generate a Description for Posts and Curtain #} {%- set currentPage =
helpers.currentPage(collections.all, page) -%} {%- set autoDescription =
currentPage.templateContent | excerpt | safe | striptags -%} {% endif %}

{#Above is a mess#}

{# Title #}
<title>{{ pageTitle }}</title>

<!-- I don't understand this at all!!! -->
{# Page-specific #}
<meta name="description" content="{{ description or summary or autoDescription or site.description }}" />
{%- if image -%}
<meta name="image" content="{{ absolutePageUrl }}{{ image }}">{%- endif -%}
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ description or summary or autoDescription or site.description }}" />
<meta property="og:url" content="{{ currentUrl }}" />
<!--- if the image starts with / then go from base, otherwise go inside foler -->
<meta property="og:image"
    content="{%- if image -%}{%if helpers.startsWith(image, '/')%}{{site.url}}{{image}}{%else%}{{ absolutePageUrl }}{{ image }}{%endif%}{%- else -%}{{ site.author.avatar | url | absoluteUrl(site.url) }}{%- endif -%}">
<meta name="twitter:card" content="summary_large_image" />

{# General #}
{%- if isPost or isCurtain -%}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website" />
{%- endif -%}
<meta name="author" content="{{ site.author.name }}">
<meta property="og:site_name" content="{{ siteTitle }}">
<meta name="twitter:site" content="@{{ site.author.social.twitter.name }}">
<meta name="twitter:creator" content="@{{ site.author.social.twitter.name }}">
<link rel="canonical" href="{{ currentUrl }}" />

<link rel="icon" href="/images/meta/favicon.svg" type="image/svg+xml" />

<link rel="preload" href="/fonts/alegreya-v19-latin-regular.woff2" as="font" type="font/woff2"
    crossorigin="crossorigin" />
<link rel="preload" href="/fonts/alegreya-v19-latin-700.woff2" as="font" type="font/woff2" crossorigin="crossorigin" />
<link rel="preload" href="/fonts/alegreya-sans-v14-latin-regular.woff2" as="font" type="font/woff2"
    crossorigin="crossorigin" />
<link rel="preload" href="/fonts/alegreya-sans-v14-latin-900.woff2" as="font" type="font/woff2"
    crossorigin="crossorigin" />
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
