<hr />
<footer class="[ post-footer ] [ content post flow gap-top-700 ]">
	<p>This post was published on <time datetime="{{ page.date | w3DateFilter }}">{{ page.date | dateFilter }}</time>{% if updated %}, and updated on <time datetime="{{ updated | w3DateFilter }}">{{ updated | dateFilter }}</time>{% endif %}. If you have thoughts, you can email me at gus@guscuddy.com.</p>
	<div class="post-footer__bio">
		<img src="/images/me.jpg" alt="A smiling picture of Gus Cuddy bathing in warm light" />
		<p><a href="/">Gus Cuddy</a> is a writer and performer based in New York City.</p>
	</div>
</footer>
