<div class="[ panel ]" id="production-list">
    <div class="flow">
        {% if productionListHeadline %}
        {{ productionListHeadline | safe }}
        {% endif %}
        <div>
            <ol class="[ production-list ] [ flow ]">
                {% set currentYear = "" %} {% for show in collections.shows %} {% set year =
                show.date.getFullYear() %} {% if currentYear != year %}
                <li class="production-list__year">
                    <h4>{{ year }}</h4>
                </li>
                {% endif %}
                <li class="[ production-list__item ] [ flow ]" {{ helpers.getLinkActiveState(show.url, page.url) |
                    safe}}>
                    <div class="production-list__item-photo">
                        {% set photoSrc = "" %}
                        {% if show.data.photos.src[0] %}
                        {% set photoSrc = show.data.photos.src[0] %}
                        {% elif show.data.photos.directory %}
                        {% set photoSrc = show.data.photos.directory | firstPhoto %}
                        {% endif %}
                        <a href="{{show.url}}#main-content"><img src="{{ photoSrc }}"
                                alt="Production Photo from {{show.data.title}}" loading="lazy" decoding="async" /></a>
                    </div>
                    <div class="production-list__item-description">
                        <p><a class="production-list__item-title" href="{{show.url}}#main-content">{{ show.data.title
                                }}</a>
                            —
                            {{show.data.theater}}</p>
                    </div>
                </li>

                {% endfor %}
            </ol>
        </div>
    </div>
</div>
