{% set recentlyPlayed = lastfm.slice(0,10) %} {% if recentlyPlayed.length %}
<h2>What's on the turntable</h2>
<ul class="recently-played">
  {% for item in recentlyPlayed %}
  <li class="[ recently-played__album ] [ flow ]">
    <a href="{{ item.url }}" class="[ recently-played__url ]">
      <div class="recently-played__media">
        <img
          src="{% if item.image %}{{ item.image }}{%else%}/images/lastfm-placeholder.png{%endif%}"
          alt="Album artwork for {{ item.name }} by {{ item.artist['#text'] }}"
          loading="lazy"
        />
      </div>
      <span class="recently-played__title">{{ item.name }}</span>
      <span class="recently-played__artist">{{ item.artist['#text'] }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
