<footer role="contentinfo" class="[ site-foot ] [ gap-top-major ]">
    <div class="[ site-foot__inner ] [ content ]">
        <div class="copyright">
            <p>© 2016 - {{ helpers.currentYear() }}</p>
        </div>
        <ul class="site-foot__list">
            <li><a href="mailto:gus@guscuddy.com">Email</a></li>
            <li><a href="https://twitter.com/guscuddy">Twitter</a></li>
            <li><a href="/feed.xml">RSS</a></li>
        </ul>
        <div class="user-toggle">
            <div role="status" class="[ visually-hidden ] [ js-mode-status ]"></div>
            <button data-variant="plain" class="[ button ] [ js-mode-toggle text-300 ]">
                <span class="[ toggle-button__text ] [ js-mode-toggle-text ]">Enable dark mode</span>
                <span class="toggle-button__icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</footer>
